<app-titulo [titulo]="'Perfil'"></app-titulo>
<div class="card rounded shadow-sm ">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="input-group ">
            <div class="form-group col p-1">
              <label class="pb-2">Título</label>
              <select formControlName="titulo" [ngClass]="{'is-invalid': f.titulo.errors && f.titulo.touched}" class="form-control is-invalid">
                <option value=""></option>
                <option value="0">Não Quero</option>
                <option value="Senhorita">Tecnólogo(a)</option>
                <option value="Senhorita">Bacharel</option>
                <option value="Senhorita">Especialista</option>
                <option value="Senhorita">Pós Graduado(a)</option>
                <option value="Senhorita">Mestre</option>
                <option value="Senhorita">Doutor(a)</option>
                <option value="Senhorita">Pós Doc</option>
              </select>
              <div *ngIf="f.titulo.errors?.required && f.titulo.touched" class="invalid-feedback">
                Título Obrigatório
              </div>
            </div>
            <div class="form-group col-sm-5 p-1">
              <label class="pb-2">Primeiro Nome</label>
              <input type="text" class="form-control is-invalid" formControlName="primeiroNome" [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"/>
              <div *ngIf="f.primeiroNome.errors?.required && f.primeiroNome.touched" class="invalid-feedback">
                Primeiro Nome Obrigatório
              </div>
            </div>
            <div class="form-group col-sm-5 p-1">
              <label class="pb-2">Último nome</label>
              <input type="text" class="form-control is-invalid" formControlName="ultimoNome" [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}"/>
              <div ng *ngIf="f.ultimoNome.errors?.required && f.ultimoNome.touched" class="invalid-feedback">
                Último Nome Obrigatório
              </div>
            </div>
          </div>
        </div>
        <div class="form-row input-group">
          <div class="form-group col-sm-5 p-1">
            <label class="pb-2">E-mail</label>
            <input type="text" class="form-control is-invalid" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" />
            <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
              E-mail Obrigatório
            </div>
            <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
              E-mail Inválido
            </div>
          </div>
          <div class="form-group col-sm-4 p-1">
            <label class="pb-2">Telefone</label>
            <input type="text" class="form-control is-invalid" formControlName="telefone" [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}" />
            <div *ngIf="f.telefone.errors?.required && f.telefone.touched" class="invalid-feedback">
              Número de Telefone Obrigatório
            </div>
          </div>
          <div class="form-group col-sm p-1">
            <label class="pb-2">Função</label>
            <select class="form-control is-invalid" formControlName="funcao" [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched}">
              <option value=""></option>
              <option value="Participante">Participante</option>
              <option value="Palestrante">Palestrante</option>
            </select>
            <div *ngIf="f.funcao.errors?.required && f.funcao.touched" class="invalid-feedback">
              Função Obrigatória
            </div>
          </div>
          <form  class="form-group col-12 p-1 Form" [formGroup]="form">
            <label class="pb-2">Descrição</label>
            <input type="text" class="form-control is-invalid" formControlName="descricao" [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched}"/>
            <div  class="invalid-feedback">
              Descrição obrigatória
            </div>
          </form>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>
        <div class="form-row input-group">
          <div class="form-group col-sm p-1">
            <label class="pb-2">Senha</label>
            <input type="password" class="form-control is-invalid" formControlName="senha" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}" />
            <div *ngIf="f.senha.errors?.required && f.senha.touched" class="invalid-feedback">
              Senha Obrigatória
            </div>
            <div *ngIf="f.senha.errors?.minlength && f.senha.touched" class="invalid-feedback">
              Deve Conter no Mínimo 6 Caracteres
            </div>
          </div>
          <div class="form-group col-sm p-1">
            <label class="pb-2">Confirmar Senha</label>
            <input type="password" class="form-control is-invalid" formControlName="confirmeSenha" [ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched}" />
            <div *ngIf="f.confirmeSenha.errors?.required && f.confirmeSenha.touched" class="invalid-feedback">
              Senha Obrigatória
            </div>
            <div *ngIf="f.confirmeSenha.errors?.mustMatch && f.confirmeSenha.touched" class="invalid-feedback">
              As Senhas Não se Correspondem
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border mr-5" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>
</div>
